node_modules
dist
build
coverage
.nyc_output

.env
.env.*
!.env.example

.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

**/*.spec.ts
**/*.test.ts
.eslintrc*
.prettierrc*
*.log
npm-debug.log*

README*.md
Dockerfile
.dockerignore
